
.goalTable {
  color: #322628;
  border-collapse: collapse;
  margin: 25px 200px 0 200px;
  font-size: 0.9em;
  min-width: 400px;
  border: 1px solid #feaa00;
  border-radius: 5px 5px 0 0;
  /* hides the square corners of the table */
  overflow:hidden;
}

.goalTable thead tr {
  text-align:left;
  font-weight: bold;
  background-color: #feaa00;
  color: #322628;
}


.goalTable th,
.goalTable td {
  width: 250px;
  padding: 12px 15px;
  text-align: left;
  word-wrap: break-word;
  color: #f7f4ef;
}

.goalTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.goalTable tbody:nth-of-type(even) {
  background-color: grey;
}

.goalTable tbody:last-of-type {
  border-bottom: 2px solid #feaa00;
}

.no-display {
  color: #f7f4ef;
  background-color: #9F948D;
  padding: 30px;
  border-radius: 4px;
  margin: 20px 200px 20px 200px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(192,178,196,0);
}
