.nav {
  margin: 0 0 50px 0;
  padding: 0;
  overflow: hidden;
  background-color: #fcfbfb;
  /* border-bottom: 5px solid #f7f4ef; */
}

h2 {
  float: left;
  padding: 1px 50px;
  font-family: "Lucida Handwriting", cursive;
  color: #9F948D;
}
ul {
  list-style-type: none;
}

li {
  float: left;
}

.text-link {
  display: block;
  font-family: Verdana, Helvetica, san-serif;
  font-size: 16px;
  padding: 14px 16px;
  color: #ADA4A5;
  text-align: center;
  text-decoration: none;
}

.text-link:hover {
  background-color: #ADA4A5;
  border-radius: 4px;
  color: #fcfbfb;
}
