.journalTable {
  border-collapse: collapse;
  margin: 25px 200px 0 200px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0, 0.15);
}

.journalTable thead tr {
  background-color: #788402;
  color: #f7f4ef;
  text-align: left;
  font-weight: bold;
  word-wrap: break-word;
}

.journalTable th,
.journalTable td {
  padding: 12px 16px;
}

.journalTable tbody {
  border-bottom: 1px solid #f7f4ef;

}

.journalTable tbody:nth-of-type(even) {
  background-color: grey;

}

.journalTable tbody:last-of-type {
  border-bottom: 2px solid #788402;
}
