
.goalTable {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse:collapse;

}

td, th {
  border: 1px solid black;
  width: 250px;
  padding: 0.5rem;
  text-align: center;

}

th {
  background-color: lightblue;
  border-color: white;
}
