.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #342628;
}

h2 {
  float: left;
  padding: 1px 50px;
  font-family: "Lucida Handwriting", cursive;
}
ul {
  list-style-type: none;
}

li {
  float: left;
}

.text-link {
  display: block;
  font-family: Verdana, Helvetica, san-serif;
  font-size: 14px;
  padding: 14px 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.text-link:hover {
  background-color: #f7f4ef;
  color: #342628;
}
